
[general]
api_key = 1234567890

[AG Projects]
; Username
username = 
; Password
password = 
; Server, in host:port form
server = 
; Should we skip emails coming from mailinglists?
skip_mailing_lists = Yes
; Application name for Prowl notification
name = IMAP Notifier

